/*Animations*/

@keyframes enterScreen {
    from {right: 100%;}
    to {right: 0%;}
}
 
@keyframes zoomIn-fadeIn {
    from {transform: scale(0.6, 0.6); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}

@keyframes slideInScreen {
    from {top: -100%;}
    to {top: 0%;}
}


/*fonts*/

@font-face {
    font-family: 'Beatle-Font';
    src: url(/fonts/Bootle-4B9l.ttf);
}

@font-face {
    font-family: 'Hanoble';
    src: url(/fonts/Hanoble.ttf);
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color:#989779;
  } 
  
  ::-webkit-scrollbar-thumb {
    background: #514f46;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #34332d; 
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#beatlesDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    animation-name: enterScreen;
    animation-duration: 4s; 
}

#logoDiv{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 12%;
    left: 25%;
    display: flex;
    justify-content: center;
    z-index: 0;
    animation-name: zoomIn-fadeIn;
    animation-duration: 4s;
    cursor: default;
}

/*Header*/
#mainNav .logo img{
    height: 80px;
    transition: height 0.4s;
    padding: 10px;
}

#mainNav{
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #f6f6e8;
    transition: background 0.4s;
    font-family: 'Beatle-Font', serif;
    z-index: 2;
    animation-name: slideInScreen;
    animation-duration: 5s; 
}

#mainNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

#mainNav ul li a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: 500;
    transition: color 0.4s;
}

.bg-black{
    background-color: #1b1b1b !important;
}

.txt-white a{
    color: #f6f6e8 !important;
}

#introDiv{
    width: 57%;
    background-color: #b7b7b758;
    color: #1f1f1f;
    height: 50%;
    margin-top: 195px;
    border-radius: 20px;
    position: relative;
    right: 10px; 
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#beatlesDiv1{
    animation-name: slideInScreen-fadeIn;
    animation-duration: 4s; 
}

#section1{
    background-image: url("/media/homepageMedia/Road.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 721px;
}

#section2{
    font-family: 'Hanoble', serif;
    height: 721px;
    background-image: url("/media/homepageMedia/Beatles-Section2bg.png");
    background-size: 100% 100%;
}

#beatlesDiv1{
    display: flex;
    align-items: flex-end;
}

#beatlesDiv1 img{
    height: 70%;
}

h1{
    font-size: 500%;
}

p{
    font-size: 160%;
}

#containerDiv{
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative; 
}